<div class="not-wide">
    <div class="position-text text-black">
        <h3 class="highlighted-example-trips-summary__headline">Tidigare Projekt</h3>
        <h2 class="highlighted-example-trips-summary__heading">Bli inspirerad</h2>
        <p class="highlighted-example-trips-summary__description">Bläddra bland våra tidigare projekt och kontakta oss för att förverkliga dina byggdömmar.</p>
    </div>
  </div>
<div class="block-highlighted-example-projects-content space-between" #elemt (mousedown)="startDragging($event, false, elemt)" (mouseup)="stopDragging($event, false)"
    (mouseleave)="stopDragging($event, false)" (mousemove)="moveEvent($event, elemt)">
    <div class="knapp">
        <button >Hej</button>
        <button>Då</button>
    </div>
    
      <ul class="block-highlighted-example-projects child" >
        <li class="not-small">
          <div class="responsive-image">
            <div class="position-text text-black">
              <h3 class="highlighted-example-trips-summary__headline">Tidigare Projekt</h3>
              <h2 class="highlighted-example-trips-summary__heading">Bli inspirerad</h2>
              <p class="highlighted-example-trips-summary__description">Bläddra bland våra tidigare projekt och kontakta oss för att förverkliga dina byggdömmar.</p>
            </div>


            
          </div>
          
        </li>
        <li>
          <div data-id="1" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2014/11/21/17/17/house-540796_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2014/11/21/17/17/house-540796_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2016/11/29/03/53/house-1867187_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/house-1867187_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2017/03/22/17/39/kitchen-2165756_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2017/03/22/17/39/kitchen-2165756_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2018/02/13/09/39/modern-minimalist-bathroom-3150293_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2018/02/13/09/39/modern-minimalist-bathroom-3150293_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2017/02/24/12/24/bathroom-2094733_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2017/02/24/12/24/bathroom-2094733_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2015/03/12/14/43/back-porch-670293_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2015/03/12/14/43/back-porch-670293_960_720.jpg">

            </picture>
          </div>
        </li>

        <li>
          <div data-id="2" class="responsive-image">
            <picture class="">
              <img class="" draggable="false"
                data-src="https://cdn.pixabay.com/photo/2017/10/14/19/17/roof-2851579_960_720.jpg"
                alt="Kasiiya Papagayo Costa Rica 6"
                src="https://cdn.pixabay.com/photo/2017/10/14/19/17/roof-2851579_960_720.jpg">

            </picture>
          </div>
        </li>
      </ul>
    </div>