
img:hover{
  cursor: pointer;
}

.nav{
  margin-right: 10%;
}

a{
  color:  #1f3869;
}

a:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.navbar{
  width: 1400px;
  padding: 20px;
}

.headDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248 249 250);
}

img{
  width: 400px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  img{
    width: 200px;
    height: auto;
  }
}