<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="logo"> 

  </div>
  <img width="120" alt="Angular Logo" src="/assets/logo.png" (click)="myFunction('')"/>
  <div class="navbarLinks">
    <div class="linkDiv">
      <div class="pDiv" (click)="myFunction('')">
        <p href="https://www.w3schools.com">Hem</p>
      </div>
    </div>

    <div class="linkDiv">
      <div class="pDiv">
        <p href="https://www.w3schools.com">Tjänster</p>
      </div>
    </div>

    <div class="linkDiv" (click)="myFunction('projekt')">
      <div class="pDiv">
        <p href="https://www.w3schools.com">Projekt</p>
      </div>
    </div>

    <div class="linkDiv">
      <div class="pDiv">
        <p href="https://www.w3schools.com">Om oss</p>
      </div>
      
    </div>
    
    <div class="linkDiv">
      <div class="pDiv">
        <p href="https://www.w3schools.com">Kontakt</p>
      </div>
    </div>
  </div>
  