<section>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://images.pexels.com/photos/1438832/pexels-photo-1438832.jpeg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://images.pexels.com/photos/323772/pexels-photo-323772.jpeg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>

  </ngb-carousel>
</section>


<section>



  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom sub-title">Tjänster vi utför</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start" *ngFor="let tjanst of tjansterList">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#toggles2" />
          </svg>
        </div>
        <div>
          <div>
            <h2>{{tjanst.Titel}}</h2>
            <p>{{tjanst.Beskrivning}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<div id="fullLine"></div>
<section>
  <h2 class="pb-2 border-bottom sub-title">Vilka är vi?</h2>
  <div class="text">
    <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ipsum sed ipsum malesuada scelerisque vitae non felis. Pellentesque varius nibh non nunc malesuada porttitor. Proin iaculis neque leo, ut molestie est egestas vel. Ut molestie eros nibh, at malesuada est molestie rhoncus. Fusce in velit eget velit volutpat euismod. In pretium consequat egestas. Nulla mollis, dolor ut ornare ultrices, metus nibh egestas enim, quis tristique.

    </p>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lorem nisl, accumsan ut nisi ut, fringilla congue massa. Nunc non egestas augue, vel placerat diam. Mauris sit amet erat id mauris euismod ullamcorper. Mauris dui elit, iaculis.

    </p>
  </div>
</section>
<div id="fullLine"></div>
<section style="background-color:#f1efec;height:auto">
 <app-selected-projects></app-selected-projects>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h2>{{activeProject.Namn}}</h2>
    <div id="line"></div>
    <p>{{activeProject.Beskrivning}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



<!-- <div class="container px-4 py-5" id="custom-cards" style="text-align:center;">
        <h2 class="pb-2 border-bottom">Utvalda projekt</h2>
      

        <div class="row row-cols-3 row-cols-lg-3 align-items-stretch g-4 py-5" >
          <div *ngFor="let project of items | async">
            <div class="col projectcard" (click)="openXl(project,content)">
              <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/Bilder/HomepageSlides/0.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <p class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pictureText">{{project.Namn}}</p>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                      <small>California</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                      <small>5d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->