
.sub-title{
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    font-weight: lighter;
}

#fullLine{
    width: 100%;
    height: 2px;
    background-color: #154c79;
    margin: auto;
    margin-top: 10px;
}

.text{
    text-align: center; 
    margin:auto;
    max-width: 1280px;
    padding: 2%;
    margin-bottom: 0.5%;
}



section{
    margin-bottom: 25px;;
    min-width: 100%;
}

  .rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.projectcard{
    transition: .30s, transform .10s ease;
  -moz-transition: .10s, transform .10s ease;
  -webkit-transition: .10s, transform .10s ease;
}

.projectcard:hover {
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari */
    transform: scale(1.07);
    transition: transform .25s ease;
    cursor: pointer;
  }

  .projectcard:hover .pictureText {
    opacity: 0;
    transition: .30s, transform .30s ease;
  } 

  .modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    
  }

  .modal-body{
    border-bottom: var(--bs-modal-header-border-width);
  }

  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }


  @media only screen and (max-width: 800px) {
    img {
      width: auto !important;
  max-width: 100% !important;
  height: auto !important;
    }

    .pictureText{
      display: none;
    }


  }




  img{
    max-width: 100%;
    max-height: 100%;
  }