@import '~font-awesome/css/font-awesome.min.css';
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  background-color: white;
  color:#333;
  }

  body{
    display:flex;
    flex-direction: column;
  }

footer{
  padding: 3em;
  margin-top:auto;
  background-color: rgb(36 35 35);
}

.content{
  margin-top: 65px;
  min-height: 100vh;
  background: white;
  }